body {
    margin: 0;
}

.container {
    background-color: blue;
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container header {
    grid-column: 1/3;
    justify-self: center;
}

.tasks {
    background-color: red;
}

.sidebar {
    background-color: green;
}