body {
    margin: 0;
}

.container {
    background-color: blue;
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: 100px 1fr;
}

.container header {
    grid-column: 1/3;
    justify-self: center;
}

.tasks {
    background-color: red;
}

#task-box {
  display: grid;
}

.sidebar {
    background-color: green;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  min-width: 300px;
  display: grid;
  gap: 10px;
}

.hidden {
  display: none;
}

.modal-btns {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
