:root {
    ---bg-color: #FFF8F3;
    ---text-color: #3E2C2C;
    ---secondary-color: #C46A48;
    ---accent-color: #D9A84E;
    ---hover-color: #F2CDA3;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url("../fonts/PlayfairDisplay-VariableFont_wght.woff");
}

body {
    font-family: "PlayfairDisplay", serif;
    background-color: var(---bg-color);
    color: var(---text-color);
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav button {
    padding: 10px 30px;
    border-radius: 8px;
    background-color: var(---secondary-color);
    color: var(---text-color);
    font-size: 1.3em;
    font-weight: 600;
    border: 1px solid var(---accent-color);
    box-shadow: 5px 5px 10px var(---accent-color);
    font-family: "PlayfairDisplay", serif;
}

nav button:hover {
    cursor: pointer;
    color: var(---secondary-color);
    background-color: var(---accent-color);
    box-shadow: 5px 5px 10px var(---secondary-color);
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

#content h1 {
    justify-self: center;
    font-size: 3em;
    text-align: center;
}

#content p {
    text-align: justify;
    padding: 20px;
}

.img-hero {
    width: 70%;
    justify-self: center;
    border-radius: 20px;
}

.menuBox {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    gap: 20px;
}

.dishBox{
    display: grid;
    grid-template-columns: .5fr .5fr;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(---accent-color);
    padding-bottom: 20px;
}

.dishBox>* {
    justify-self: center;
}

.dishBox img {
    max-height: 400px;
    border-radius: 20px;
}

.dishInfoBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.dishInfoBox > * {
    padding: 0;
    margin: 0;
}

.priceTag {
   font-weight: 600; 
   font-size: 1.3em;
}

#about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: justify;
}

#about-content > img {
   flex: 0 1 1;
   max-height: 700px;
}

#about-textBox {
    grid-column: 2 / 3;
    display: grid;
    gap: 20px;
    font-size: 1.3em;
}

@media (max-width: 1000px) {
    #about-content {
        flex-direction: column;
    }
    
    .dishBox {
        grid-template-columns: .5fr;
    }

   .dishBox img {
    max-width: 30vh;
   }
}